.profile {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
    /* padding-bottom: 10px; */
}

.profile img {
    filter: grayscale(25%);
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
}

.profile ul {
    list-style: none;
}

.profile li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.contact{
    display: inline;
    padding-right: 10px;
}